.newspaper {
  font-size: 0.9em;
  /* Old Chrome, Safari and Opera */
  -webkit-column-count: 3;
  -webkit-column-gap: 40px;
  -webkit-column-rule: 1px solid lightblue;

 /* Old Firefox */
  -moz-column-count: 3;
  -moz-column-gap: 40px;
  -moz-column-rule: 1px solid lightblue;

 /* Standard syntax */
  column-count: 3;
  column-gap: 40px;
  column-rule: 1px solid lightblue;
}
.newspaper2 {
  font-size: 0.9em;
  /* Old Chrome, Safari and Opera */
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  -webkit-column-rule: 1px solid lightblue;

 /* Old Firefox */
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -moz-column-rule: 1px solid lightblue;

 /* Standard syntax */
  column-count: 2;
  column-gap: 40px;
  column-rule: 1px solid lightblue;
}

mark {
  background-color: #4040a1;
  line-height: 35px;
  padding: 3px;
  margin-left: 6px;
  color: white;
}

.icon fa-gem {
    width: 94px !important;
    height: 24px !important;
}
